<!DOCTYPE html>
<html ng-app="employeeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee list</title>
    <script src="Angular.js"></script>
</head>
<body ng-controller="employeeController">
    <h1>Employee list</h1>
    search by name:
    <input type="text"ng-model="searchName"/>
    search by salary
    <input type="number"ng-model="searchSalary"/>
    <ul>
        <li ng-repeat="employee in employees |filter:{name:searchName,salary:searchSalary}">
            {{employee.name}}-salary:Rs{{employee.salary}}
        </li>
    </ul>
    <script>
        var app=angular.module('employeeApp',[]);
        app.controller('employeeController',function($scope){
            $scope.employees=[
            {name:'Ram', salary:50000},
            {name:'abi', salary:60000},
            {name:'sam', salary:75000},
            {name:'raj', salary:50000}
            ];
            $scope.searchName='';
            $scope.searchSalary='';
        });
    </script>
</body>
</html>